@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}



/* .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled,
.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled,
.css-w4nesw-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled
  {
  color: #4A4A4A !important; 
  font-style: italic;
  -webkit-text-fill-color: unset !important;
} */
